<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- FastCGI Configuration -->
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Websites\NewHireApp\venv\Scripts\python.exe|C:\Websites\NewHireApp\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <!-- URL Rewrite Rules -->
    <rewrite>
      <rules>
        <!-- Redirect all requests to app.py -->
        <rule name="Python FastCGI" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="app.py/{R:0}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <!-- Environment Variables -->
    <fastCgi>
      <application fullPath="C:\Websites\NewHireApp\venv\Scripts\python.exe" arguments="C:\Websites\NewHireApp\venv\Lib\site-packages\wfastcgi.py" maxInstances="4" idleTimeout="1800" activityTimeout="30" requestTimeout="90" instanceMaxRequests="10000" protocol="NamedPipe" flushNamedPipe="False">
        <environmentVariables>
          <environmentVariable name="PYTHONPATH" value="C:\Websites\NewHireApp" />
          <environmentVariable name="WSGI_HANDLER" value="app.app" />
          <environmentVariable name="WSGI_LOG" value="C:\Websites\NewHireApp\logs\wfastcgi.log" />
        </environmentVariables>
      </application>
    </fastCgi>
    <!-- Default Documents -->
    <defaultDocument>
      <files>
        <clear />
        <add value="app.py" />
      </files>
    </defaultDocument>
    <!-- Directory Browsing -->
    <directoryBrowse enabled="false" />
    <!-- HTTP Errors -->
    <httpErrors errorMode="Detailed" />
    <!-- Static File Handling -->
    <!-- Note: .json mimeMap is already defined at server level, so we don't add it here -->
    <!-- Windows Authentication -->
    <!-- Pass Windows Auth to Python and Security Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Forwarded-User" value="{REMOTE_USER}" />
        <add name="X-Remote-User" value="{REMOTE_USER}" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <!-- Application Settings -->
    <add key="PYTHONPATH" value="C:\Websites\NewHireApp" />
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="WSGI_LOG" value="C:\Websites\NewHireApp\logs\wfastcgi.log" />
  </appSettings>
</configuration>